.skills {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    
    
    }
    .skills h2{
    font-size: 20rem;
    position: absolute;
    color:gray;
    opacity: 0.5;
    left: -173vw;
    top: -23vh;
    transition: transform 0.2s ease-out 0s;
    }
    .skills p{
    font-weight: 300;
    font-size: 3rem;
    
    }
    .skills p:nth-last-of-type(1){
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    top: 20vh;
    right: -237vw;
    width:70vw;
    font-size: 3rem;
    transition: transform 0.2s ease-out 0s;
    }
    .skills p:nth-last-of-type(2){
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    top: 15vh;
    right: -237vw;
    width:70vw;
    font-size: 3rem;
    transition: transform 0.4s ease-out 0s;
    }
    .skills p:nth-last-of-type(3){
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    top: 10vh;
    right: -237vw;
    width:70vw;
    font-size: 3rem;
    transition: transform 0.6s ease-out 0s;
    }
    .skills p:nth-last-of-type(4){
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    top: 20vh;
    right: -215vw;
    width:70vw;
    font-size: 3rem;
    transition: transform 0.2s ease-out 0s;
    }
    .skills p:nth-last-of-type(5){
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    top: 15vh;
    right: -215vw;
    width:70vw;
    font-size: 3rem;
    transition: transform 0.4s ease-out 0s;
    }
    .skills p:nth-last-of-type(6){
    font-size: 3rem;
    font-weight: 300;
    position: absolute;
    top: 10vh;
    right: -215vw;
    width:70vw;
    font-size: 3rem;
    transition: transform 0.6s ease-out 0s;
    }
    
    .skillsDiv{
      height:100vh;
     z-index: 20;
    }

@media (max-width: 1680px) {
    .skills {
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        
        
        }
        .skills h2{
        font-size: 20rem;
        position: absolute;
        color:gray;
        opacity: 0.5;
        left: -180vw;
        top: 30vh;
        transition: transform 0.2s ease-out 0s;
        }
        .skills p{
        font-weight: 300;
        font-size: 3rem;
        
        }
        .skills p:nth-last-of-type(1){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 75vh;
        right: -235vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(2){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 70vh;
        right: -235vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(3){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 65vh;
        right: -230vw;
        width:65vw;
        font-size: 3rem;
        transition: transform 0.6s ease-out 0s;
        }
        .skills p:nth-last-of-type(4){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 75vh;
        right: -215vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(5){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 70vh;
        right: -215vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(6){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 65vh;
        right: -215vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.6s ease-out 0s;
        }
        
        .skillsDiv{
          height:100vh;
         z-index: 20;
        }

}
@media (max-width: 1440px) {
   
    .skills {
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        
        
        }
        .skills h2{
        font-size: 14rem;
        position: absolute;
        color:gray;
        opacity: 0.5;
        left: -194vw;
        top: 40vh;
        transition: transform 0.2s ease-out 0s;
        }
        .skills p{
        font-weight: 300;
        font-size: 3rem;
        
        }
        .skills p:nth-last-of-type(1){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 70vh;
        right: -250vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(2){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 77vh;
        right: -250vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(3){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 84vh;
        right: -250vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.6s ease-out 0s;
        }
        .skills p:nth-last-of-type(4){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 70vh;
        right: -225vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(5){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 77vh;
        right: -225vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(6){
        font-size: 3rem;
        font-weight: 300;
        position: absolute;
        top: 84vh;
        right: -225vw;
        width:70vw;
        font-size: 3rem;
        transition: transform 0.6s ease-out 0s;
        }
        
        .skillsDiv{
          height:100vh;
         z-index: 20;
        }

}
@media (max-width: 768px) {
   
    .skills {
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        
        
        }
        .skills h2{
        font-size: 8rem;
        position: absolute;
        color:gray;
        opacity: 0.5;
        left: -433vw;
        top: 25vh;
        transition: transform 0.2s ease-out 0s;
        }
      
        .skills p:nth-last-of-type(1){
        font-weight: 300;
        font-size: 2rem;
        position: absolute;
        top: 45vh;
        right: -487vw;
        width:70vw;
       
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(2){
          font-weight: 300;
          font-size: 2rem;
        position: absolute;
        top: 50vh;
        right: -487vw;
        width:70vw;
        
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(3){
          font-weight: 300;
          font-size: 2rem;
        position: absolute;
        top: 55vh;
        right: -487vw;
        width:70vw;
        
        transition: transform 0.6s ease-out 0s;
        }
        .skills p:nth-last-of-type(4){
          font-weight: 300;
          font-size: 2rem;
        position: absolute;
        top: 45vh;
        right: -462vw;
        width:70vw;
       
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(5){
          font-weight: 300;
          font-size: 2rem;
        position: absolute;
        top: 50vh;
        right: -462vw;
        width:70vw;
      
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(6){
          font-weight: 300;
          font-size: 2rem;
        position: absolute;
        top: 55vh;
        right: -462vw;
        width:70vw;
       
        transition: transform 0.6s ease-out 0s;
        }
        
        .skillsDiv{
          height:100vh;
         z-index: 20;
        }

}
@media (max-width: 375px) {
   
    .skills {
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        
        
        }
        .skills h2{
        font-size: 4rem;
        position: absolute;
        color:gray;
        opacity: 0.5;
        left: -724vw;
        top: 20vh;
        transition: transform 0.2s ease-out 0s;
        }
      
        .skills p:nth-last-of-type(1){
        font-weight: 300;
        font-size: 1.2rem;
        position: absolute;
        top: 45vh;
        right: -780vw;
        width:70vw;
       
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(2){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 40vh;
        right: -780vw;
        width:70vw;
        
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(3){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 35vh;
        right: -780vw;
        width:70vw;
        
        transition: transform 0.6s ease-out 0s;
        }
        .skills p:nth-last-of-type(4){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 45vh;
        right: -748vw;
        width:70vw;
       
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(5){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 40vh;
        right: -748vw;
        width:70vw;
      
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(6){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 35vh;
        right: -748vw;
        width:70vw;
       
        transition: transform 0.6s ease-out 0s;
        }
        
        .skillsDiv{
          height:100vh;
         z-index: 20;
        }

}
@media (max-width: 360px) {
   
    .skills {
        height: 100vh;
        display: flex;
        justify-content:center;
        align-items:center;
        position: relative;
        
        
        }
        .skills h2{
        font-size: 4rem;
        position: absolute;
        color:gray;
        opacity: 0.5;
        left: -701vw;
        top: 20vh;
        transition: transform 0.2s ease-out 0s;
        }
      
        .skills p:nth-last-of-type(1){
        font-weight: 300;
        font-size: 1.2rem;
        position: absolute;
        top: 45vh;
        right: -764vw;
        width:70vw;
       
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(2){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 40vh;
        right: -764vw;
        width:70vw;
        
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(3){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 35vh;
        right: -764vw;
        width:70vw;
        
        transition: transform 0.6s ease-out 0s;
        }
        .skills p:nth-last-of-type(4){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 45vh;
        right: -718vw;
        width:70vw;
       
        transition: transform 0.2s ease-out 0s;
        }
        .skills p:nth-last-of-type(5){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 40vh;
        right: -718vw;
        width:70vw;
      
        transition: transform 0.4s ease-out 0s;
        }
        .skills p:nth-last-of-type(6){
          font-weight: 300;
          font-size: 1.2rem;
        position: absolute;
        top: 35vh;
        right: -718vw;
        width:70vw;
       
        transition: transform 0.6s ease-out 0s;
        }
        
        .skillsDiv{
          height:100vh;
         z-index: 20;
        }

}