/* 
 .textNewDiv{
    
position:fixed;

top: 30vh;
left: 10vw;

border: 2px solid black;
  background: linear-gradient(to bottom, rgb(109, 109, 109) 50%, #fff 50%);
  background-size: 100% 200%;
  background-position: bottom left;
  transition: all .5s ease-out;
  opacity: 0;
  visibility: hidden;
}  

.textNewDiv:hover{
    border: 2px solid limegreen;
    background-position: top left;
    color: #fff;
}
 */
