@media (max-width: 2560px) {
    .mov {
        height: 100vh;
        width: 100vw;
        position: relative;
        text-align: start;
    }
    .movDiv {
        height: 100vh;
        position: relative;
    }
    .movText {
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s linear;
        display: inline-block;
        transition: all 1s ease-out;
        border-radius: 10px;
        transform: translateX(-20vw);
    }
    .mov h3 {
        font-size: 4rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov h2 {
        font-size: 10rem;
        transition: transform 0.2s ease-out 0s;
        margin-right: 0vw;
        display: inline-block;
    }
    .movie-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Open Sans';
        text-transform: uppercase;
        margin: 10px 0 0 0;
    }
    .movie-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    .movie-flip:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }
    .movie-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    .movie-flip:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
    .mov img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 35vh;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(2) {
        width: 25%;
        position: absolute;
        right: 18vw;
        top: 110vh;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 215vh;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1920px) {
    .movText {
        margin: 0 0 0 10vw;
    }
    .mov h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(1) {
        width: 15%;
        position: absolute;
        right: 3vw;
        top: 35vh;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(2) {
        width: 30%;
        position: absolute;
        right: 18vw;
        top: 118vh;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 236vh;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1680px) {
    .mov h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov h2 {
        font-size: 7rem;
    }
    .mov img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 35vh;
    }
    .mov img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 118vh;
    }
    .mov img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 1vw;
        top: 224vh;
    }
}

@media (max-width: 1440px) {
    .mov h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov h2 {
        font-size: 5rem;
    }
    .mov img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 35vh;
    }
    .mov img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 118vh;
    }
    .mov img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 1vw;
        top: 223vh;
    }
}

@media (max-width: 1024px) {
    .mov h2 {
        font-size: 3.5rem;
    }
    .mov h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .movText {
        margin: 0 0 0 5vw;
    }
    .mov img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 45vh;
    }
    .mov img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 133vh;
    }
    .mov img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 5vw;
        top: 228vh;
    }
}

@media (max-width: 768px) {
    .mov h2 {
        font-size: 3.5rem;
    }
    .mov h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .movText {
        margin: 0 0 0 5vw;
    }
    .mov img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 45vh;
    }
    .mov img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 133vh;
    }
    .mov img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 5vw;
        top: 228vh;
    }
}

@media (max-width: 375px) {
    .mov h2 {
        font-size: 2.5rem;
    }
    .mov h3 {
        margin: 2vh 0 0 0;
        width: 350px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        width: 290px;
        font-size: 1rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 2vw;
        top: 50vh;
        z-index: 100;
    }
    .mov img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        left: 2vw;
        top: 130vh;
        z-index: 100;
    }
    .mov img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 215vh;
        z-index: 100;
    }
}

@media (max-width: 360px) {
    .mov h2 {
        font-size: 2rem;
    }
    .mov h3 {
        width: 290px;
        font-size: 1rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov p {
        width: 290px;
        font-size: 0.9rem;
        transition: transform 0.2s ease-out 0s;
    }
    .mov img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 2vw;
        top: 50vh;
    }
    .mov img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        left: 2vw;
        top: 128vh;
    }
    .mov img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 215vh;
    }
}