@media (max-width: 2560px) {
    .trash {
        width: 100vw;
        height: 100vh;
        margin-top: 20vh;
        position: relative;
        z-index: 9;
    }
    .trashDiv {
        height: 100vh;
        position: relative;
        z-index: 9;
    }
    .trashText {
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s linear;
        display: inline-block;
        transition: all 1s ease-out;
        border-radius: 10px;
        transform: translateX(-20vw);
    }
    .trash-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px 0 0 0;
    }
    .trash-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    .trash-flip:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }
    .trash-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    .trash-flip:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
    .trash h2 {
        font-size: 10rem;
        transition: transform 0.2s ease-out 0s;
        display: inline-block;
    }
    .trash h3 {
        width: 50vw;
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 158vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:60vh;
        position: absolute;
        right: 18vw;
        top: 475vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:70vh;
        position: absolute;
        right: 5vw;
        top: 770vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1920px) {
    .trash {
        width: 100vw;
        height: 100vh;
        margin-top: 20vh;
        position: relative;
        z-index: 9;
    }
    .trashDiv {
        height: 100vh;
        position: relative;
        z-index: 9;
    }
    .trashText {
        margin: 0 0 0 5vw;
    }
    .trash h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 150vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:60vh;
        position: absolute;
        right: 18vw;
        top: 464vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:70vh;
        position: absolute;
        right: 5vw;
        top: 758vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1680px) {
    .trash {
        width: 100vw;
        position: relative;
        z-index: 9;
        margin: 15vh 0 0 0;
    }
    .trashDiv {
        height: 100vh;
        position: relative;
        z-index: 9;
    }
    .trash h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 153vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:60vh;
        position: absolute;
        right: 20vw;
        top: 468vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:70vh;
        position: absolute;
        right: 5vw;
        top: 750vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1440px) {
    .trash {
        width: 100vw;
        position: relative;
        z-index: 9;
    }
    .trashDiv {
        position: relative;
        z-index: 9;
    }
    .trash h2 {
        font-size: 5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 150vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:60vh;
        position: absolute;
        right: 20vw;
        top: 455vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:70vh;
        position: absolute;
        right: 5vw;
        top: 735vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1024px) {
    .trash {
        width: 100vw;
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 9;
    }
    .trashDiv {
        position: relative;
        z-index: 9;
    }
    .trash h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:40vh;
        position: absolute;
        right: 1vw;
        top: 145vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:50vh;
        position: absolute;
        right: 21vw;
        top: 435vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:50vh;
        position: absolute;
        right: 5vw;
        top: 696vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 768px) {
    .trash {
        width: 100vw;
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 9;
    }
    .trashDiv {
        position: relative;
        z-index: 9;
    }
    .trash h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:35vh;
        position: absolute;
        right: 1vw;
        top: 152vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:40vh;
        position: absolute;
        right: 25vw;
        top: 445vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:40vh;
        position: absolute;
        right: 1vw;
        top: 697vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 375px) {
    .trashText {
        margin: 0 0 0 5vw;
    }
    .trash {
        width: 100vw;
        position: relative;
        z-index: -4;
    }
    .trashDiv {
        position: relative;
        z-index: -4;
    }
    .trash h2 {
        font-size: 2.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        margin: 2vh 0 0 0;
        width: 350px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:30vh;
        position: absolute;
        right: 2vw;
        top: 153vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:35vh;
        position: absolute;
        left: 2vw;
        top: 437vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:25vh;
        position: absolute;
        right: 1vw;
        top: 673vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 360px) {
    .trash {
        width: 100vw;
        position: relative;
        z-index: 9;
    }
    .trashDiv {
        position: relative;
        z-index: 9;
    }
    .trash h2 {
        font-size: 2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash h3 {
        width: 290px;
        font-size: 1rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash p {
        font-size: 0.9rem;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(1) {
        height:30vh;
        position: absolute;
        right: 2vw;
        top: 151vh;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(2) {
        height:35vh;
        position: absolute;
        left: 2vw;
        top: 432vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .trash img:nth-of-type(3) {
        height:25vh;
        position: absolute;
        right: 2vw;
        top: 670vh;
        z-index: 10;
        transition: transform 0.2s ease-out 0s;
    }
}