@media (max-width: 1920px) {
.est{
    width: 100vw;
    height: 100vh;
    margin-top: 20vh;
    position: relative;
    z-index: 9;
  }
  .estDiv{
    height: 100vh;
    position: relative;
    z-index: 9;
  }
  .estText{
    margin: 0 0 0 5vw;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear
  }
  .est a{
    color: black;
    text-decoration:none;
  }
    .est h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
    
  .est h2{
    
    
    font-size: 7rem;
    /* font-family: 'IM Fell English SC', serif; */
    transition: transform 0.2s ease-out 0s;
   }
   .est h3{
    
    font-size: 1.5rem;
   
    transition: transform 0.2s ease-out 0s;
  }
  .est p{
   
    font-size: 1.2rem;
   
    transition: transform 0.2s ease-out 0s;
  }
  .est img:nth-of-type(1){
    width: 15%;
    position: absolute;
    right: 3vw;
    top: 132vh;
    transition: transform 0.2s ease-out 0s;
  }
  .est img:nth-of-type(2){
    width: 30%;
    position: absolute;
    right: 18vw;
    top: 399vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .est img:nth-of-type(3){
    width: 65%;
    position: absolute;
    right: 5vw;
    top: 660vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
}

  @media (max-width: 1680px) {
    .est{
        width: 100vw;
        position: relative;
        z-index: 9;
        margin:10vh 0 0 0;
      }
      .estDiv{
        height: 20vh;
        position: relative;
        z-index: 9;
      }
      .est a{
        color: black;
        text-decoration:none;
      }
        .est h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
        
      .est h2{
       
        
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
}
      .est h3{
       
        font-size: 1.5rem;
      
        transition: transform 0.2s ease-out 0s;
      }
      .est p{
        
        font-size: 1.2rem;
       
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(1){
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 131vh;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(2){
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 398vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(3){
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 640vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
    
  }
  @media (max-width: 1440px) {
    .est{
        width: 100vw;
        
        
        position: relative;
        z-index: 9;
      }
      .estDiv{
        
        position: relative;
        z-index: 9;
      }
      .est a{
        color: black;
        text-decoration:none;
      }
        .est h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
        
      .est h2{
        
        
        font-size: 5rem;
        transition: transform 0.2s ease-out 0s;
}
      .est h3{
       
     
        font-size: 1.5rem;
       
        transition: transform 0.2s ease-out 0s;
      }
      .est p{
        
        font-size: 1.2rem;
     
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(1){
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 130vh;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(2){
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 390vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(3){
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 627vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
    
  }
  @media (max-width: 768px) {
    .est{
        width: 100vw;
        
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 9;
      }
      .estDiv{
        
        position: relative;
        z-index: 9;
      }
      .est a{
        color: black;
        text-decoration:none;
      }
        .est h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
        
      .est h2{
       
        
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
}
      .est h3{
        
        font-size: 1.5rem;
        
        transition: transform 0.2s ease-out 0s;
      }
      .est p{
        
        font-size: 1.2rem;
       
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(1){
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 130vh;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(2){
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 377vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(3){
        width: 90%;
        position: absolute;
        right: 5vw;
        top: 593vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
    
  }
  @media (max-width: 375px) {
    .est{
        width: 100vw;
        
        position: relative;
        z-index: 9;
      }
      .estDiv{
        
        position: relative;
        z-index: 9;
      }
      .est a{
        color: black;
        text-decoration:none;
      }
        .est h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
        
      .est h2{
        
        transform:translateX(380px);
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
}
      .est h3{
      
        width:290px;
        
        font-size: 1.5rem;
       
        transition: transform 0.2s ease-out 0s;
      }
      .est p{
        position: absolute;
        top: -37vh;
        font-size: 1.2rem;
        left: -116vw;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(1){
        width: 35%;
        position: absolute;
        right: 1vw;
        top: 93vh;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(2){
        width: 60%;
        position: absolute;
        right: 37vw;
        top: 356vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(3){
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 580vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
    
  }
  @media (max-width: 360px) {
    .est{
        width: 100vw;
        
        position: relative;
        z-index: 9;
      }
      .estDiv{
        
        position: relative;
        z-index: 9;
      }
      .est a{
        color: black;
        text-decoration:none;
      }
        .est h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
        
      .est h2{
        position: absolute;
        left: -114vw;
        top: -56vh;
        transform:translateX(380px);
        font-size: 2.5rem;
        transition: transform 0.2s ease-out 0s;
}
      .est h3{
        position: absolute;
        width:290px;
        top: -46vh;
        font-size: 1.2rem;
        left: -116vw;
        transition: transform 0.2s ease-out 0s;
      }
      .est p{
        position: absolute;
        top: -38vh;
        font-size: 1rem;
        left: -116vw;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(1){
        width: 35%;
        position: absolute;
        right: 1vw;
        top: 93vh;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(2){
        width: 60%;
        position: absolute;
        right: 37vw;
        top: 356vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .est img:nth-of-type(3){
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 580vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
    
  }