@media (max-width: 2560px) {
    .expensee {
        width: 100vw;
        height: 100vh;
        margin-top: 20vh;
        position: relative;
        z-index: 9;
    }
    .expenseeDiv {
        height: 100vh;
        position: relative;
        z-index: 9;
    }
    .expenseeText {
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s linear;
        display: inline-block;
        transition: all 1s ease-out;
        border-radius: 10px;
        transform: translateX(-20vw);
    }
    .expensee-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px 0 0 0;
    }
    .expensee-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    .expensee-flip:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }
    .expensee-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    .expensee-flip:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
    .expensee h2 {
        font-size: 10rem;
        transition: transform 0.2s ease-out 0s;
        display: inline-block;
    }
    .expensee h3 {
        width: 50vw;
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 202vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:50vh;
        position: absolute;
        right: 18vw;
        top: 565vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:50vh;
        position: absolute;
        right: 5vw;
        top: 885vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:50vh;
        position: absolute;
        right: 20vw;
        top: 1080vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1920px) {
    .expensee {
        width: 100vw;
        height: 100vh;
        margin-top: 20vh;
        position: relative;
        z-index: 9;
    }
    .expenseeDiv {
        height: 100vh;
        position: relative;
        z-index: 9;
    }
    .expenseeText {
        margin: 0 0 0 5vw;
    }
    .expensee h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 178vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:50vh;
        position: absolute;
        right: 22vw;
        top: 527vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:50vh;
        position: absolute;
        right: 5vw;
        top: 850vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:50vh;
        position: absolute;
        right: 25vw;
        top: 1035vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1680px) {
    .expensee {
        width: 100vw;
        position: relative;
        z-index: 9;
        margin: 10vh 0 0 0;
    }
    .expenseeDiv {
        height: 20vh;
        position: relative;
        z-index: 9;
    }
    .expensee h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 163vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:50vh;
        position: absolute;
        right: 22vw;
        top: 495vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:50vh;
        position: absolute;
        right: 5vw;
        top: 790vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:50vh;
        position: absolute;
        right: 25vw;
        top: 965vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1440px) {
    .expensee {
        width: 100vw;
        position: relative;
        z-index: 9;
    }
    .expenseeDiv {
        position: relative;
        z-index: 9;
    }
    .expensee h2 {
        font-size: 5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 163vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:50vh;
        position: absolute;
        right: 22vw;
        top: 502vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:50vh;
        position: absolute;
        right: 4vw;
        top: 795vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:50vh;
        position: absolute;
        right: 23vw;
        top: 975vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1024px) {
    .expensee {
        width: 100vw;
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 9;
    }
    .expenseeDiv {
        position: relative;
        z-index: 9;
    }
    .expensee h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:50vh;
        position: absolute;
        right: 1vw;
        top: 170vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:50vh;
        position: absolute;
        right: 21vw;
        top: 510vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:50vh;
        position: absolute;
        right: 3vw;
        top: 790vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:50vh;
        position: absolute;
        right: 25vw;
        top: 968vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 768px) {
    .expensee {
        width: 100vw;
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 9;
    }
    .expenseeDiv {
        position: relative;
        z-index: 9;
    }
    .expensee h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:40vh;
        position: absolute;
        right: 1vw;
        top: 170vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:40vh;
        position: absolute;
        right: 35vw;
        top: 515vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:40vh;
        position: absolute;
        right: 5vw;
        top: 780vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:40vh;
        position: absolute;
        right: 32vw;
        top: 960vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 375px) {
    .expenseeText {
        margin: 0 0 0 5vw;
    }
    .expensee {
        width: 100vw;
        position: relative;
        z-index: -4;
    }
    .expenseeDiv {
        position: relative;
        z-index: -4;
    }
    .expensee h2 {
        font-size: 2.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        margin: 2vh 0 0 0;
        width: 350px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:35vh;
        position: absolute;
        right: 5vw;
        top: 175vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:35vh;
        position: absolute;
        right: 55vw;
        top: 493vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:35vh;
        position: absolute;
        right: 5vw;
        top: 750vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:35vh;
        position: absolute;
        right: 50vw;
        top: 912vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 360px) {
    .expensee {
        width: 100vw;
        position: relative;
        z-index: 9;
    }
    .expenseeDiv {
        position: relative;
        z-index: 9;
    }
    .expensee h2 {
        font-size: 2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee h3 {
        width: 290px;
        font-size: 1rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee p {
        font-size: 0.9rem;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(1) {
        height:35vh;
        position: absolute;
        right: 5vw;
        top: 175vh;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(2) {
        height:35vh;
        position: absolute;
        right: 50vw;
        top: 492vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(3) {
        height:35vh;
        position: absolute;
        right: 5vw;
        top: 755vh;
        z-index: 10;
        transition: transform 0.2s ease-out 0s;
    }
    .expensee img:nth-of-type(4) {
        height:35vh;
        position: absolute;
        right: 50vw;
        top: 910vh;
        z-index: 10;
        transition: transform 0.2s ease-out 0s;
    }
}