
@media (max-width: 1920px) {
.tasty{
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 10;
    margin: 20vh 0 0 0;
  }
  .tastyDiv{
    height: 100vh;
    position: relative;
    text-align: start;
    
  }
  .tastyText{
    margin: 0 0 0 5vw;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear
  }
  .tasty a{
    color: black;
    text-decoration:none;
  }
    .tasty h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
    
  .tasty h2{
    /* position: absolute;
    right: -10vw;
    top: -8vh; */
    
    font-size: 7rem;
    /* font-family: 'IM Fell English SC', serif; */
    transition: transform 0.2s ease-out 0s;
    
   }
   .tasty h3{
    /* position: absolute;
    top: 5vh;
    right: 2vw; */
    font-size: 1.5rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .tasty p{
    /* position: absolute;
    top: 8vh;
    right: 0.5vw; */
    font-size: 1.2rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .tasty img:nth-of-type(1){
    width: 15%;
    position: absolute;
    right: 3vw;
    top: 59vh;
    transition: transform 0.2s ease-out 0s;
  }
  .tasty img:nth-of-type(2){
    width: 30%;
    position: absolute;
    right: 18vw;
    top: 182vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .tasty img:nth-of-type(3){
    width: 65%;
    position: absolute;
    right: 5vw;
    top: 335vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
}
@media (max-width: 1680px) {
    .tasty h2{
    font-size: 5.5rem;
}
.tasty{
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 10;
  margin: 10vh 0 0 0;
}

      .tasty h3{
     
       font-size: 1.5rem;
       
       transition: transform 0.2s ease-out 0s;
     }
     .tasty p{
       
       font-size: 1.2rem;
       
       transition: transform 0.2s ease-out 0s;
     }
     .tasty img:nth-of-type(1){
       width: 13%;
       position: absolute;
       right: 3vw;
       top: 60vh;
       
     }
     .tasty img:nth-of-type(2){
       width: 27%;
       position: absolute;
       right: 16vw;
       top: 182vh;
       z-index: 3;
     }
     .tasty img:nth-of-type(3){
       width: 60%;
       position: absolute;
       right: 1vw;
       top: 316vh;
       z-index: 3;
     }
}
@media (max-width: 1440px) {
  .tasty h2{
  font-size: 5rem;
 
}

  .tasty h3{
  
    font-size: 1.5rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .tasty p{
  
    font-size: 1.2rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .tastyText{
    margin: 0 0 0 10vw;
  }
 .tasty img:nth-of-type(1){
   width: 13%;
   position: absolute;
   right: 3vw;
   top: 56vh;
   
 }
 .tasty img:nth-of-type(2){
   width: 27%;
   position: absolute;
   right: 16vw;
   top: 182vh;
   z-index: 3;
 }
 .tasty img:nth-of-type(3){
   width: 60%;
   position: absolute;
   right: 1vw;
   top: 318vh;
   z-index: 3;
 }
 
}
@media (max-width: 768px) {
    .tasty h2{
    font-size: 3.5rem;
}
    .tasty h3{
      
      font-size: 1.5rem;
      transition: transform 0.2s ease-out 0s;
    }
    .tasty{
      width: 100vw;
      height: 100vh;
      position: relative;
      z-index: 10;
      margin: 0vh 0 0 0;
    }
    .tasty p{
      
      font-size: 1.2rem;
      transition: transform 0.2s ease-out 0s;
    
    }
    .tastyText{
      margin: 0 0 0 5vw;
    }
   .tasty img:nth-of-type(1){
     width: 20%;
     position: absolute;
     right: 1vw;
     top: 66vh;
     
   }
   .tasty img:nth-of-type(2){
    width: 40%;
    position: absolute;
    right: 21vw;
    top: 197vh;
    z-index: 3;
  }
  .tasty img:nth-of-type(3){
  width: 90%;
  position: absolute;
  right: 5vw;
  top: 323vh;
  z-index: 3;
  }
}

@media (max-width: 375px) {
   .tasty h2{
    
    font-size: 3rem;
}
.tasty h3{
  
  width:290px;
  
  font-size: 1.5rem;
  transition: transform 0.2s ease-out 0s;
}
.tasty p{
 
  width:290px;
  font-size: 1.2rem;
  transition: transform 0.2s ease-out 0s;

}
   .tasty img:nth-of-type(1){
     width: 35%;
     position: absolute;
     left: 2vw;
     top: 48vh;
     
   }
   .tasty img:nth-of-type(2){
     width: 60%;
     position: absolute;
     left: 37vw;
     top: 172vh;
     z-index: 3;
   }
   .tasty img:nth-of-type(3){
     width: 100%;
     position: absolute;
     left: 0vw;
     top: 291vh;
     z-index: 3;
   }

}
@media (max-width: 360px) {
   .tasty h2{
    position: absolute;
     right: -46vw;
     top: -38vh;
    font-size: 2.5rem;
}
.tasty h3{
  position: absolute;
  width:290px;
  right: -52.5vw;
  top: -27vh;
  font-size: 1.2rem;
  transition: transform 0.2s ease-out 0s;
}
.tasty p{
  position: absolute;
  width:290px;
  right: -53vw;
  top: -20vh;
  font-size: 1rem;
  transition: transform 0.2s ease-out 0s;

}
   .tasty img:nth-of-type(1){
     width: 35%;
     position: absolute;
     left: 2vw;
     top: 48vh;
     
   }
   .tasty img:nth-of-type(2){
     width: 60%;
     position: absolute;
     left: 37vw;
     top: 170vh;
     z-index: 3;
   }
   .tasty img:nth-of-type(3){
     width: 100%;
     position: absolute;
     left: 0vw;
     top: 291vh;
     z-index: 3;
   }

}


  