@media (max-width: 2560px) {
    .tasty {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 10;
        margin: 20vh 0 0 0;
    }
    .tastyDiv {
        height: 100vh;
        position: relative;
    }
    .tastyText {
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s linear;
        display: inline-block;
        transition: all 1s ease-out;
        border-radius: 10px;
        transform: translateX(-20vw);
    }
    .tasty-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px 0 0 0;
    }
    .tasty-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    .tasty-flip:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }
    .tasty-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    .tasty-flip:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
    .tasty h2 {
        display: inline-block;
        font-size: 10rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty h3 {
        font-size: 4rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty p {
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 59vh;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(2) {
        width: 25%;
        position: absolute;
        right: 18vw;
        top: 180vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 320vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1920px) {
    .tasty h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(1) {
        width: 15%;
        position: absolute;
        right: 3vw;
        top: 59vh;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(2) {
        width: 30%;
        position: absolute;
        right: 18vw;
        top: 182vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 335vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1680px) {
    .tasty h2 {
        font-size: 7rem;
    }
    .tasty {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 10;
        margin: 10vh 0 0 0;
    }
    .tasty h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 60vh;
    }
    .tasty img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 182vh;
        z-index: 3;
    }
    .tasty img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 1vw;
        top: 316vh;
        z-index: 3;
    }
}

@media (max-width: 1440px) {
    .tasty h2 {
        font-size: 5rem;
    }
    .tasty h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tastyText {
        margin: 0 0 0 10vw;
    }
    .tasty img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 56vh;
    }
    .tasty img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 182vh;
        z-index: 3;
    }
    .tasty img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 1vw;
        top: 318vh;
        z-index: 3;
    }
}

@media (max-width: 1024px) {
    .tasty h2 {
        font-size: 3.5rem;
    }
    .tasty h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 10;
        margin: 0vh 0 0 0;
    }
    .tasty p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tastyText {
        margin: 0 0 0 5vw;
    }
    .tasty img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 66vh;
    }
    .tasty img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 197vh;
        z-index: 3;
    }
    .tasty img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 5vw;
        top: 323vh;
        z-index: 3;
    }
}

@media (max-width: 768px) {
    .tasty h2 {
        font-size: 3.5rem;
    }
    .tasty h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 10;
        margin: 0vh 0 0 0;
    }
    .tasty p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tastyText {
        margin: 0 0 0 5vw;
    }
    .tasty img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 66vh;
    }
    .tasty img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 197vh;
        z-index: 3;
    }
    .tasty img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 5vw;
        top: 323vh;
        z-index: 3;
    }
}

@media (max-width: 375px) {
    .tastyText {
        margin: 0 0 0 5vw;
    }
    .tasty h2 {
        font-size: 2.5rem;
    }
    .tasty h3 {
        margin: 2vh 0 0 0;
        width: 350px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty p {
        width: 290px;
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 2vw;
        top: 73vh;
        z-index: 100;
    }
    .tasty img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        right: 37vw;
        top: 191vh;
        z-index: 100;
    }
    .tasty img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 306vh;
        z-index: 100;
    }
}

@media (max-width: 360px) {
    .tasty h2 {
        font-size: 2rem;
    }
    .tasty h3 {
        width: 290px;
        font-size: 1rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty p {
        width: 290px;
        font-size: 0.9rem;
        transition: transform 0.2s ease-out 0s;
    }
    .tasty img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 2vw;
        top: 70vh;
    }
    .tasty img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        right: 37vw;
        top: 188vh;
        z-index: 3;
    }
    .tasty img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 305vh;
        z-index: 103;
    }
}