@media (max-width: 2560px) {
    .music {
        width: 100vw;
        height: 100vh;
        position: relative;
        margin: 20vh 0 0 0;
        z-index: 10;
    }
    .musicDiv {
        position: relative;
        height: 100vh;
    }
    .musicText {
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s linear;
        display: inline-block;
        transition: all 1s ease-out;
        border-radius: 10px;
        transform: translateX(-20vw);
    }
    .music-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        margin: 10px 0 0 0;
    }
    .music-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    .music-flip:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }
    .music-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    .music-flip:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
    .music h2 {
        font-size: 10rem;
        transition: transform 0.2s ease-out 0s;
        display: inline-block;
    }
    .music h3 {
        font-size: 4rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 83vh;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(2) {
        width: 25%;
        position: absolute;
        right: 17vw;
        top: 254vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 430vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1920px) {
    .music h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 15%;
        position: absolute;
        right: 3vw;
        top: 83vh;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(2) {
        width: 30%;
        position: absolute;
        right: 18vw;
        top: 254vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 442vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1680px) {
    .music {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 10;
        margin: 10vh 0 0 0;
    }
    .music h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 84vh;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 255vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 425vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1440px) {
    .musicText {
        margin: 0 0 0 10vw;
    }
    .music h2 {
        font-size: 5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 82vh;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 253vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 1vw;
        top: 423vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1024px) {
    .music h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 84vh;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 254vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 1vw;
        top: 410vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 768px) {
    .musicText {
        margin: 0 0 0 5vw;
    }
    .music h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 84vh;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 254vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 1vw;
        top: 410vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 375px) {
    .music h2 {
        font-size: 2.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        margin: 2vh 0 0 0;
        width: 350px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        width: 290px;
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 1vw;
        top: 94vh;
        transition: transform 0.2s ease-out 0s;
        z-index: 20;
    }
    .music img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        right: 37vw;
        top: 257vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
        z-index: 20;
    }
    .music img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 404vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
        z-index: 20;
    }
}

@media (max-width: 360px) {
    .music {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: -15;
    }
    .music h2 {
        font-size: 2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .music h3 {
        font-size: 1rem;
        width: 290px;
        transition: transform 0.2s ease-out 0s;
    }
    .music p {
        font-size: 0.9rem;
        width: 290px;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 1vw;
        top: 92vh;
        transition: transform 0.2s ease-out 0s;
        z-index: 2;
    }
    .music img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        right: 37vw;
        top: 255vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .music img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 403vh;
        z-index: 10;
        transition: transform 0.2s ease-out 0s;
    }
}