.music{
    width: 100vw;
    height: 100vh;
    margin-top: 20vh;
    position: relative;
    
    z-index: 10;
  }
   .musicDiv{
    position: relative;
    height: 100vh;
   
  }
  
  .music a{
    color: black;
    text-decoration:none;
  }
    .music h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
  .music h2{
   position: absolute;
    left: -15vw;
    top: -22vh;
    transform:translateX(380px);
    font-size: 7rem;
    font-family: 'IM Fell English SC', serif;
    transition: transform 0.2s ease-out 0s;
   }
   .music h3{
    position: absolute;
    top: -8vh;
    font-size: 1.5rem;
    left: -14.5vw;
    transition: transform 0.2s ease-out 0s;
  }
  .music p{
    position: absolute;
    top: -4vh;
    font-size: 1.2rem;
    left: -14.5vw;
    transition: transform 0.2s ease-out 0s;
  }
  .music img:nth-of-type(1){
    width: 15%;
    position: absolute;
    right: 3vw;
    top: 45vh;
    transition: transform 0.2s ease-out 0s;
  }
  .music img:nth-of-type(2){
    width: 30%;
    position: absolute;
    right: 18vw;
    top: 215vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .music img:nth-of-type(3){
    width: 65%;
    position: absolute;
    right: 5vw;
    top: 396vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }

  @media (max-width: 1680px) {
    .music{
        width: 100vw;
        height: 100vh;
        margin-top: 20vh;
        position: relative;
        
        z-index: 10;
      }
       .musicDiv{
        position: relative;
        height: 100vh;
       
      }
      
      .music a{
        color: black;
        text-decoration:none;
      }
        .music h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
      .music h2{
       position: absolute;
        left: -15vw;
        top: -32vh;
        transform:translateX(380px);
        font-size: 7rem;
        font-family: 'IM Fell English SC', serif;
        transition: transform 0.2s ease-out 0s;
       }
       .music h3{
        position: absolute;
        top: -21vh;
        font-size: 1.5rem;
        left: -14.5vw;
        transition: transform 0.2s ease-out 0s;
      }
      .music p{
        position: absolute;
        top: -18vh;
        font-size: 1.2rem;
        left: -14.5vw;
        transition: transform 0.2s ease-out 0s;
      }
      .music img:nth-of-type(1){
        width: 15%;
        position: absolute;
        right: 3vw;
        top: 45vh;
        transition: transform 0.2s ease-out 0s;
      }
      .music img:nth-of-type(2){
        width: 30%;
        position: absolute;
        right: 18vw;
        top: 215vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .music img:nth-of-type(3){
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 387vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
  }
  @media (max-width: 1440px) {
    .music{
        width: 100vw;
        height: 100vh;
        margin-top: 20vh;
        position: relative;
        
        z-index: 10;
      }
       .musicDiv{
        position: relative;
        height: 100vh;
       
      }
      
      .music a{
        color: black;
        text-decoration:none;
      }
        .music h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
      .music h2{
       position: absolute;
        left: -15vw;
        top: -32vh;
        transform:translateX(380px);
        font-size: 5rem;
        font-family: 'IM Fell English SC', serif;
        transition: transform 0.2s ease-out 0s;
       }
       .music h3{
        position: absolute;
        top: -21vh;
        font-size: 1.5rem;
        left: -14.5vw;
        transition: transform 0.2s ease-out 0s;
      }
      .music p{
        position: absolute;
        top: -18vh;
        font-size: 1.2rem;
        left: -14.5vw;
        transition: transform 0.2s ease-out 0s;
      }
      .music img:nth-of-type(1){
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 45vh;
        transition: transform 0.2s ease-out 0s;
      }
      .music img:nth-of-type(2){
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 215vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .music img:nth-of-type(3){
        width: 60%;
        position: absolute;
        right: 1vw;
        top: 383vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
  }