@media (max-width: 1920px) {
.contact {
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
    
    
    }
    .contact h2{
    font-size: 20rem;
    position: absolute;
    color:gray;
    opacity: 0.5;
    right: -210vw;
    top: 20vh;
    transition: transform 0.2s ease-out 0s;
    }
  
  
    .contact a:nth-of-type(1){
        position: absolute;
        top: 42vh;
        right: 300vw;
        width: 10%;
        opacity: 0.8;
        transition: transform 0.2s ease-out 0s;
    }
    .contact a:nth-of-type(2){
        opacity: 0.8;
        position: absolute;
        top: 42vh;
        right: 274vw;
        width:10%;
        
        transition: transform 0.2s ease-out 0s;
    }
    .contact a:nth-of-type(3){
    
        opacity: 0.8;
        position: absolute;
        top: 42vh;
        right: 250vw;
        width:10%;
        transition: transform 0.2s ease-out 0s;
    }
    
    .contactDiv{
    height:70vh;
    z-index: 20;
    }
}
    @media (max-width: 1680px) {
        .contact {
            height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            position: relative;
}
            .contact h2{
            font-size: 20rem;
            position: absolute;
            color:gray;
            opacity: 0.5;
            right: -217vw;
            top: 60vh;
            transition: transform 0.2s ease-out 0s;
            }
          
          
            .contact a:nth-of-type(1){
                position: absolute;
                top: 83vh;
                right: 318vw;
                width: 10%;
                opacity: 0.8;
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(2){
                opacity: 0.8;
                position: absolute;
                top: 83vh;
                right: 291vw;
                width:10%;
                
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(3){
            
                opacity: 0.8;
                position: absolute;
                top: 83vh;
                right: 266vw;
                width:10%;
                transition: transform 0.2s ease-out 0s;
            }
            
            .contactDiv{
              height:100vh;
             z-index: 20;
            }
        
      }
      @media (max-width: 1440px) {
        .contact {
            height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            position: relative;
            
            
            }
            .contact h2{
            font-size: 14rem;
            position: absolute;
            color:gray;
            opacity: 0.5;
            right: -203vw;
            top: 55vh;
            transition: transform 0.2s ease-out 0s;
            }
          
          
            .contact a:nth-of-type(1){
                position: absolute;
                top: 75vh;
                right: 289vw;
                width: 7%;
                opacity: 0.8;
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(2){
                opacity: 0.8;
                position: absolute;
                top: 75vh;
                right: 268vw;
                width:7%;
                
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(3){
            
                opacity: 0.8;
                position: absolute;
                top: 75vh;
                right: 245vw;
                width:7%;
                transition: transform 0.2s ease-out 0s;
            }
            
            .contactDiv{
              height:90vh;
             z-index: 25;
            }
        
        
      }
      @media (max-width: 768px) {
        .contact {
            height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            position: relative;
            
            
            }
            .contact h2{
            font-size: 8rem;
            position: absolute;
            color:gray;
            opacity: 0.5;
            right: -420vw;
            top: 30vh;
            transition: transform 0.2s ease-out 0s;
            z-index: -1;
            }
          
          
            .contact a:nth-of-type(1){
                position: absolute;
                top: 30vh;
                right: 505vw;
                width: 10%;
                opacity: 0.8;
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(2){
                opacity: 0.8;
                position: absolute;
                top: 30vh;
                right: 480vw;
                width:10%;
                
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(3){
            
                opacity: 0.8;
                position: absolute;
                top: 30vh;
                right: 455vw;
                width:10%;
                transition: transform 0.2s ease-out 0s;
            }
            
            .contactDiv{
              height:50vh;
             z-index: 20;
            }
        
        
      }
      @media (max-width: 375px) {
        .contact {
            height: 60vh;
            display: flex;
            justify-content:center;
            align-items:center;
            flex-direction: column;
            position: static;
}
        .contact div{
           width: 100vw;
           display: flex;
           justify-content:space-evenly;
}
            .contact h2{
            font-size: 4rem;
            position: static;
            color:gray;
            opacity: 0.5;
            right: 18vw;
            top: 30vh;
            transition: transform 0.2s ease-out 0s;
            z-index: 999;
            }
          
          
            .contact a:nth-of-type(1){
                position: static;
                top: 40vh;
                right: 65vw;
                width: 15%;
                opacity: 0.8;
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(2){
                opacity: 0.8;
                position: static;
                top: 40vh;
                right: 40vw;
                width:15%;
                
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(3){
            
                opacity: 0.8;
                position: static;
                top: 40vh;
                right: 17vw;
                width:15%;
                transition: transform 0.2s ease-out 0s;
            }
            
            .contactDiv{
              height:40vh;
             z-index: 20;
            }
        
        
      }
      @media (max-width: 360px) {
        .contact {
            height: 100vh;
            display: flex;
            justify-content:center;
            align-items:center;
            position: relative;
            
            
            }
            .contact h2{
            font-size: 4rem;
            position: absolute;
            color:gray;
            opacity: 0.5;
            top: -15vh;
            transition: transform 0.2s ease-out 0s;
            z-index: 999;
            }
          
          
            .contact a:nth-of-type(1){
                position: absolute;
                top: 0vh;
                right: 65vw;
                width: 15%;
                opacity: 0.8;
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(2){
                opacity: 0.8;
                position: absolute;
                top: 0vh;
                right: 38vw;
                width:15%;
                
                transition: transform 0.2s ease-out 0s;
            }
            .contact a:nth-of-type(3){
            
                opacity: 0.8;
                position: absolute;
                top: 0vh;
                right: 14vw;
                width:15%;
                transition: transform 0.2s ease-out 0s;
            }
            
            .contactDiv{
              height:10vh;
             z-index: 20;
            }
        
        
      }