@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap');

/*########## Global ##########*/
*{
  margin: 0;
  padding: 0;
  
}
img{
 
  
}
main{
  overflow: hidden;
}

.number{
  position: fixed;
  font-size: 3rem;
  left: 1vw;
  top: 1vh;
}
.frameWork{
  position: fixed;
  
  font-size: 3rem;
  left: 1vw;
  bottom: 1vh;
}
/*########## Header ##########*/
.header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
.header h2{
 font-size: 3rem;
 font-weight: 300;
 opacity: 0;
 visibility: hidden;
 transition: visibility 0s, opacity 1.5s linear;
 }

 h1{
  font-size: 7rem;
  font-family: 'Kaushan Script', cursive;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 1s linear;
}
/*########## Article ##########*/

article {
height: 100vh;
display: flex;
justify-content:center;
align-items:center;
position: relative;
overflow: hidden;
}
article h2{
font-size: 20rem;
position: absolute;
color:gray;
opacity: 0.5;
left: -9vw;
top: 5vh;
}
article p{
font-size: 3rem;
font-weight: 300;
line-height:80px;
position: absolute;
top: 35vh;
right: -10vw;

width:70vw;
}
.AboutMeDiv{
  height:100vh;
  overflow: hidden;
}


/*########## MONumberFrameworkV ##########*/

.NumberFramework{
  position:relative;
}

.NumberFramework p:nth-of-type(1){
  position:fixed;
  font-size: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  
}
.NumberFramework p:nth-of-type(2){
  position:fixed;
  
  font-size: 1.5rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
/*########## MOV ##########*/
.mov{
  height: 100vh;
  width: 100vw;
  position: relative;
  
}
.movDiv{
  height: 100vh;
  position: relative;
  
}
.mov h3{
  position: absolute;
  left: -4vw;
  top: 15vh;
  font-size: 1.5rem;
  transition: transform 0.2s ease-out 0s;
}
.mov p{
  position: absolute;
  left: -4vw;
  top: 18vh;
  font-size: 1.2rem;
  transition: transform 0.2s ease-out 0s;

}
.mov h2{
position: absolute;
left: -5vw;
top: 3vh;
font-size: 7rem;
font-family: 'IM Fell English SC', serif;
transition: transform 0.2s ease-out 0s;

}
.mov a{
color: black;
text-decoration:none;
}
.mov h2:hover{
opacity: 0.5;
cursor: pointer;
}

.mov img:nth-of-type(1){
  width: 15%;
  position: absolute;
  right: 3vw;
  top: 35vh;
  transition: transform 0.2s ease-out 0s;
 
}
.mov img:nth-of-type(2){
  width: 30%;
  position: absolute;
  right: 20vw;
  top: 118vh;
  transition: transform 0.2s ease-out 0s;
}
.mov img:nth-of-type(3){
  width: 65%;
  position: absolute;
  right: 5vw;
  top: 235vh;
  transition: transform 0.2s ease-out 0s;
}
/*########## Tasty #########*/
.tasty{
  width: 100vw;
  height: 100vh;
  margin-top: 20vh;
  position: relative;
  
  z-index: 10;
}
.tastyDiv{
  height: 100vh;
  position: relative;
  
}
.tasty a{
  color: black;
  text-decoration:none;
}
  .tasty h2:hover{
  opacity: 0.5;
  cursor: pointer;
  }
  
.tasty h2{
  position: absolute;
  right: -9vw;
  top: -8vh;
  transform:translateX(380px);
  font-size: 7rem;
  font-family: 'IM Fell English SC', serif;
  transition: transform 0.2s ease-out 0s;
 }
 .tasty h3{
  position: absolute;
  top: 5vh;
  font-size: 1.5rem;
  right: 2vw;
  transition: transform 0.2s ease-out 0s;
}
.tasty p{
  position: absolute;
  top: 8vh;
  font-size: 1.2rem;
  right: 0.5vw;
  transition: transform 0.2s ease-out 0s;
}
.tasty img:nth-of-type(1){
  width: 15%;
  position: absolute;
  left: 3vw;
  top: 45vh;
  transition: transform 0.2s ease-out 0s;
}
.tasty img:nth-of-type(2){
  width: 30%;
  position: absolute;
  left: 20vw;
  top: 170vh;
  z-index: 3;
  transition: transform 0.2s ease-out 0s;
}
.tasty img:nth-of-type(3){
  width: 65%;
  position: absolute;
  left: 5vw;
  top: 320vh;
  z-index: 3;
  transition: transform 0.2s ease-out 0s;
}


 /*########## Music #########*/
 .music{
  width: 100vw;
  height: 100vh;
  margin-top: 20vh;
  position: relative;
  
  z-index: 10;
}
 .musicDiv{
  position: relative;
  height: 100vh;
 
}

.music a{
  color: black;
  text-decoration:none;
}
  .music h2:hover{
  opacity: 0.5;
  cursor: pointer;
  }
.music h2{
 position: absolute;
  left: -15vw;
  top: -22vh;
  transform:translateX(380px);
  font-size: 7rem;
  font-family: 'IM Fell English SC', serif;
  transition: transform 0.2s ease-out 0s;
 }
 .music h3{
  position: absolute;
  top: -8vh;
  font-size: 1.5rem;
  left: -14.5vw;
  transition: transform 0.2s ease-out 0s;
}
.music p{
  position: absolute;
  top: -4vh;
  font-size: 1.2rem;
  left: -14.5vw;
  transition: transform 0.2s ease-out 0s;
}
.music img:nth-of-type(1){
  width: 15%;
  position: absolute;
  right: 3vw;
  top: 45vh;
  transition: transform 0.2s ease-out 0s;
}
.music img:nth-of-type(2){
  width: 30%;
  position: absolute;
  right: 20vw;
  top: 215vh;
  z-index: 3;
  transition: transform 0.2s ease-out 0s;
}
.music img:nth-of-type(3){
  width: 65%;
  position: absolute;
  right: 5vw;
  top: 396vh;
  z-index: 3;
  transition: transform 0.2s ease-out 0s;
}
@media (max-width: 1680px) {
 /*########## Header ##########*/

/*########## Article ##########*/

article h2{
font-size: 18rem;
position: absolute;
color:gray;
opacity: 0.5;
left: -12vw;
top: 5vh;
}
article p{
font-size: 2.5rem;
font-weight: 300;
line-height:80px;
position: absolute;
top: 35vh;
right: -12vw;
width:70vw;
}

/*########## MONumberFrameworkV ##########*/

.NumberFramework{
  position:relative;
}

/*########## MOV ##########*/

.mov h2{
position: absolute;
left: -5vw;
top: -3vh;
font-size: 5.5rem;
font-family: 'Kaushan Script', cursive;
text-shadow: 0 0 20px black;
}

.mov img:nth-of-type(1){
  width: 13%;
  position: absolute;
  right: 3vw;
  top: 35vh;
  
}
.mov img:nth-of-type(2){
  width: 27%;
  position: absolute;
  right: 16vw;
  top: 118vh;
  
}
.mov img:nth-of-type(3){
  width: 60%;
  position: absolute;
  right: 1vw;
  top: 227vh;
  
}
/*########## Tasty #########*/
.tasty h2{
 position: absolute;
  right: -5vw;
  top: 20vh;
  transform:translateX(380px);
  font-size: 5.5rem;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 0 0 20px black;
 }
.tasty img:nth-of-type(1){
  width: 13%;
  position: absolute;
  left: 3vw;
  top: 45vh;
  
}
.tasty img:nth-of-type(2){
  width: 27%;
  position: absolute;
  left: 16vw;
  top: 170vh;
  z-index: 3;
}
.tasty img:nth-of-type(3){
  width: 60%;
  position: absolute;
  left: 1vw;
  top: 310vh;
  z-index: 3;
}
}

@media (max-width: 1440px) {
  /*########## Header ##########*/

  .header h2{
    font-size: 2.5rem;
    font-weight: 300;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 1.5s linear;
    }
  h1{
    font-size: 6rem;
    font-family: 'Kaushan Script', cursive;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 1s linear;
  }
 /*########## Article ##########*/
 
 article h2{
 font-size: 14rem;
 position: absolute;
 color:gray;
 opacity: 0.5;
 left: -16vw;
 top: 5vh;
 }
 article p{
 font-size: 2rem;
 font-weight: 300;
 line-height:60px;
 position: absolute;
 top: 35vh;
 right: -19vw;
 width:70vw;
 }
 

 
 /*########## MOV ##########*/
 
 .mov h2{
 position: absolute;
 left: -5vw;
 top: -3vh;
 font-size: 5rem;
 font-family: 'Kaushan Script', cursive;
 text-shadow: 0 0 20px black;
 }
 
 .mov img:nth-of-type(1){
   width: 13%;
   position: absolute;
   right: 3vw;
   top: 35vh;
   
 }
 .mov img:nth-of-type(2){
   width: 27%;
   position: absolute;
   right: 16vw;
   top: 118vh;
   
 }
 .mov img:nth-of-type(3){
   width: 60%;
   position: absolute;
   right: 1vw;
   top: 222vh;
   
 }
 /*########## Tasty #########*/
 .tasty h2{
  position: absolute;
   right: -5vw;
   top: -15vh;
   transform:translateX(380px);
   font-size: 5rem;
   font-family: 'Kaushan Script', cursive;
   text-shadow: 0 0 20px black;
  }

  .tasty h3{
    position: absolute;
    top: 0vh;
    font-size: 1.5rem;
    right: -6.5vw;
    transition: transform 0.2s ease-out 0s;
  }
  .tasty p{
    position: absolute;
    top: 4vh;
    font-size: 1.2rem;
    right: -8.5vw;
    transition: transform 0.2s ease-out 0s;
  }
 .tasty img:nth-of-type(1){
   width: 13%;
   position: absolute;
   left: 3vw;
   top: 45vh;
   
 }
 .tasty img:nth-of-type(2){
   width: 27%;
   position: absolute;
   left: 16vw;
   top: 170vh;
   z-index: 3;
 }
 .tasty img:nth-of-type(3){
   width: 60%;
   position: absolute;
   left: 1vw;
   top: 305vh;
   z-index: 3;
 }
 }
@media (max-width: 768px) {
  /*########## Header ##########*/

  .header h2{
    font-size: 1.7rem;
    font-weight: 300;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 1.5s linear;
    }
  h1{
    font-size: 4.5rem;
    font-family: 'Kaushan Script', cursive;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 1s linear;
  }
 /*########## Article ##########*/
 
 article h2{
 font-size: 8rem;
 position: absolute;
 color:gray;
 opacity: 0.5;
 left: -45vw;
 top: 5vh;
 }
 article p{
 font-size: 1.5rem;
 font-weight: 300;
 line-height:40px;
 position: absolute;
 top: 20vh;
 right: -47vw;
 width:70vw;
 }
 

 
 /*########## MOV ##########*/
 
 .mov h2{
 position: absolute;
 left: -5vw;
 top: -10vh;
 font-size: 3.5rem;
 font-family: 'Kaushan Script', cursive;
 text-shadow: 0 0 20px black;
 }
 
 .mov img:nth-of-type(1){
   width: 20%;
   position: absolute;
   right: 1vw;
   top: 35vh;
   
 }
 .mov img:nth-of-type(2){
   width: 40%;
   position: absolute;
   right: 20vw;
   top: 118vh;
   
 }
 .mov img:nth-of-type(3){
   width: 90%;
   position: absolute;
   right: 5vw;
   top: 209vh;
   
 }
 /*########## Tasty #########*/
 .tasty h2{
  position: absolute;
   right: -15vw;
   top: -20vh;
   transform:translateX(380px);
   font-size: 3.5rem;
   font-family: 'Kaushan Script', cursive;
   text-shadow: 0 0 20px black;
  }
 .tasty img:nth-of-type(1){
   width: 20%;
   position: absolute;
   left: 1vw;
   top: 42vh;
   
 }
 .tasty img:nth-of-type(2){
   width: 40%;
   position: absolute;
   left: 20vw;
   top: 166vh;
   z-index: 3;
 }
 .tasty img:nth-of-type(3){
   width: 90%;
   position: absolute;
   left: 5vw;
   top: 288vh;
   z-index: 3;
 }
 }
@media (max-width: 375px) {
  /*########## Header ##########*/

  .header h2{
    font-size: 1rem;
    font-weight: 300;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 1.5s linear;
    }
  h1{
    font-size: 2.5rem;
    font-family: 'Kaushan Script', cursive;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s, opacity 1s linear;
  }
 /*########## Article ##########*/
 
 article h2{
 font-size: 4rem;
 position: absolute;
 color:gray;
 opacity: 0.5;
 left: -60vw;
 top: 5vh;
 }
 article p{
 font-size: 1rem;
 font-weight: 300;
 line-height:40px;
 position: absolute;
 top: 15vh;
 right: -67vw;
 width:70vw;
 }
 

 
 /*########## MOV ##########*/
 
 .mov h2{
 position: absolute;
 left: -20vw;
 top: -5vh;
 font-size: 1.5rem;
 font-family: 'Kaushan Script', cursive;
 text-shadow: 0 0 20px black;
 }
 
 .mov img:nth-of-type(1){
   width: 35%;
   position: absolute;
   right: 2vw;
   top: 35vh;
   
 }
 .mov img:nth-of-type(2){
   width: 60%;
   position: absolute;
   left: 2vw;
   top: 118vh;
   
 }
 .mov img:nth-of-type(3){
   width: 100%;
   position: absolute;
   right: 0vw;
   top: 209vh;
   
 }
 /*########## Tasty #########*/
 .tasty h2{
  position: absolute;
   right: -37vw;
   top: -25vh;
  
   font-size: 1.5rem;
   font-family: 'Kaushan Script', cursive;
   text-shadow: 0 0 20px black;
  }
 .tasty img:nth-of-type(1){
   width: 35%;
   position: absolute;
   left: 2vw;
   top: 35vh;
   
 }
 .tasty img:nth-of-type(2){
   width: 60%;
   position: absolute;
   left: 38vw;
   top: 158vh;
   z-index: 3;
 }
 .tasty img:nth-of-type(3){
   width: 100%;
   position: absolute;
   left: 5vw;
   top: 278vh;
   z-index: 3;
 }
 }