@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');



*{
  margin: 0;
  padding: 0;
  
}

body{
  
}
.number{
  position: fixed;
  font-size: 3rem;
  left: 1vw;
  top: 1vh;
}
.frameWork{
  position: fixed;
  color: red;
  font-size: 3rem;
  left: 1vw;
  bottom: 1vh;
}
/*########## Header ##########*/
.header{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }
.header h2{
 font-size: 3rem;
 font-weight: 300;
 }
/*########## Article ##########*/

article {
height: 100vh;
display: flex;
justify-content:center;
align-items:center;
position: relative;
}
article h2{
font-size: 20rem;
position: absolute;
color:gray;
opacity: 0.5;
left: 0vw;
top: 5vh;
}
article p{
font-size: 3rem;
font-weight: 300;
line-height:80px;
position: absolute;
top: 35vh;
right: -8vw;

width:70vw;
}
.AboutMeDiv{
  height:100vh;
  
}
h1{
  font-size: 7rem;
  font-family: 'Kaushan Script', cursive;
}
/*########## MOV ##########*/
.mov{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.movDiv{
  height: 100vh;
  position: relative;
}
.mov h2{
 position: absolute;
 left: 0;
 top: 5vh;
 font-size: 7rem;
 font-family: 'Kaushan Script', cursive;
  text-shadow: 0 0 20px black;
}
.mov img:nth-of-type(1){
  width: 30%;
  position: absolute;
  right: 3vw;
  top: 75vh;
}
.mov img:nth-of-type(2){
  width: 40%;
  position: absolute;
  right: 5vw;
  top: 133vh;
}
.mov img:nth-of-type(3){
  width: 50%;
  position: absolute;
  right: 7vw;
  top: 205vh;
}
/*########## Tasty ##########*/
.tasty{
  width: 100vw;
  height: 100vh;
  margin-top: 20vh;
  position: relative;
  
}
.tasty h2{
 position: absolute;
  left: 0vw;
  top: -30vh;
  transform:translateX(380px);
  font-size: 7rem;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 0 0 20px black;
 }
.tasty img:nth-of-type(1){
  width: 25%;
  position: absolute;
  right: 0;
  top: 85vh;
  
}
.tasty img:nth-of-type(2){
  width: 25%;
  position: absolute;
  right: 23vw;
  top: 200vh;
  z-index: 3;
}
.tasty img:nth-of-type(3){
  width: 25%;
  position: absolute;
  right: -1vw;
  top: 330vh;
  
}
