@media (max-width: 2560px) {
    .shop {
        width: 100vw;
        height: 100vh;
        margin: 20vh 0 0 0;
        position: relative;
        z-index: 10;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shopText {
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1.5s, opacity 1.5s linear;
        margin: 0 0 0 5vw;
        visibility: hidden;
        opacity: 0;
        transition: visibility 1s, opacity 1s linear;
        display: inline-block;
        transition: all 1s ease-out;
        border-radius: 10px;
        transform: translateX(-20vw);
    }
    .shop-flip {
        opacity: 1;
        outline: 0;
        color: #fff;
        line-height: 40px;
        position: relative;
        text-align: center;
        letter-spacing: 1px;
        display: inline-block;
        text-decoration: none;
        font-family: 'Open Sans';
        text-transform: uppercase;
        margin: 10px 0 0 0;
    }
    .shop-flip:hover:after {
        opacity: 1;
        transform: translateY(0) rotateX(0);
    }
    .shop-flip:hover:before {
        opacity: 0;
        transform: translateY(50%) rotateX(90deg);
    }
    .shop-flip:after {
        top: 0;
        left: 0;
        opacity: 0;
        width: 100%;
        color: #323237;
        display: block;
        transition: 0.5s;
        position: absolute;
        background: #adadaf;
        content: attr(data-back);
        transform: translateY(-50%) rotateX(90deg);
    }
    .shop-flip:before {
        top: 0;
        left: 0;
        opacity: 1;
        color: #adadaf;
        display: block;
        padding: 0 30px;
        line-height: 40px;
        transition: 0.5s;
        position: relative;
        background: #323237;
        content: attr(data-front);
        transform: translateY(0) rotateX(0);
    }
    .shop h2 {
        font-size: 10rem;
        transition: transform 0.2s ease-out 0s;
        display: inline-block;
    }
    .shop h3 {
        font-size: 4rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 109vh;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(2) {
        width: 25%;
        position: absolute;
        right: 17vw;
        top: 327vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 540vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1920px) {
    .shop {
        width: 100vw;
        height: 100vh;
        margin: 20vh 0 0 0;
        position: relative;
        z-index: 10;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shopText {
        margin: 0 0 0 5vw;
    }
    .shop h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(1) {
        width: 15%;
        position: absolute;
        right: 3vw;
        top: 109vh;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(2) {
        width: 30%;
        position: absolute;
        right: 18vw;
        top: 327vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 65%;
        position: absolute;
        right: 5vw;
        top: 552vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1680px) {
    .shop h2 {
        font-size: 7rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop {
        width: 100vw;
        height: 100vh;
        margin: 10vh 0 0 0;
        position: relative;
        z-index: 10;
    }
    .shop h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 107vh;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 326vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 532vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1440px) {
    .shop {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 10;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shopText {
        margin: 0 0 0 10vw;
    }
    .shop h2 {
        font-size: 5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(1) {
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 104vh;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(2) {
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 320vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 524vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 1024px) {
    .shop {
        width: 100vw;
        height: 100vh;
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 10;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shop a {
        color: black;
        text-decoration: none;
    }
    .shop h2:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    .shop h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
        width: 350px;
    }
    .shop img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 104vh;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 315vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 0vw;
        top: 500vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 768px) {
    .shop {
        width: 100vw;
        height: 100vh;
        margin: 0vh 0 0 0;
        position: relative;
        z-index: 10;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shop a {
        color: black;
        text-decoration: none;
    }
    .shop h2:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    .shop h2 {
        font-size: 3.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop h3 {
        font-size: 1.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
        width: 350px;
    }
    .shop img:nth-of-type(1) {
        width: 20%;
        position: absolute;
        right: 1vw;
        top: 104vh;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(2) {
        width: 40%;
        position: absolute;
        right: 21vw;
        top: 315vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 90%;
        position: absolute;
        right: 0vw;
        top: 500vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
}

@media (max-width: 375px) {
    .shop {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: -2;
    }
    .shopText {
        margin: 0 0 0 5vw;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shop a {
        color: black;
        text-decoration: none;
    }
    .shop h2:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    .shop h2 {
        font-size: 2.5rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop h3 {
        margin: 2vh 0 0 0;
        width: 350px;
        font-size: 1.3rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 1.2rem;
        transition: transform 0.2s ease-out 0s;
        width: 290px;
    }
    .shop img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 1vw;
        top: 115vh;
        transition: transform 0.2s ease-out 0s;
        z-index: 50;
    }
    .shop img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        right: 36vw;
        top: 318vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
        z-index: 50;
    }
    .shop img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 496vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
        z-index: 50;
    }
}

@media (max-width: 360px) {
    .shop {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: -16;
    }
    .shopDiv {
        position: relative;
        height: 100vh;
    }
    .shop a {
        color: black;
        text-decoration: none;
    }
    .shop h2:hover {
        opacity: 0.5;
        cursor: pointer;
    }
    .shop h2 {
        font-size: 2rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop h3 {
        width: 290px;
        font-size: 1rem;
        transition: transform 0.2s ease-out 0s;
    }
    .shop p {
        font-size: 0.9rem;
        transition: transform 0.2s ease-out 0s;
        width: 290px;
    }
    .shop img:nth-of-type(1) {
        width: 35%;
        position: absolute;
        right: 1vw;
        top: 110vh;
        transition: transform 0.2s ease-out 0s;
        z-index: 4;
    }
    .shop img:nth-of-type(2) {
        width: 60%;
        position: absolute;
        right: 36vw;
        top: 313vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
    }
    .shop img:nth-of-type(3) {
        width: 100%;
        position: absolute;
        right: 0vw;
        top: 492vh;
        z-index: 10;
        transition: transform 0.2s ease-out 0s;
    }
}