@media (max-width: 1920px) {
.shop{
    width: 100vw;
    height: 100vh;
    margin: 20vh 0 0 0;
    position: relative;
    
    z-index: 10;
  }
   .shopDiv{
    position: relative;
    height: 100vh;
   
  }
  .shopText{
    margin: 0 0 0 5vw;
    visibility: hidden;
    opacity: 0;
    transition: visibility 1.5s, opacity 1.5s linear
  }
  .shop a{
    color: black;
    text-decoration:none;
  }
    .shop h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
  .shop h2{
   /* position: absolute;
    right: -17vw;
    top: -37vh; */
  font-size: 7rem;
    /* font-family: 'IM Fell English SC', serif; */
    transition: transform 0.2s ease-out 0s;
    
   }
   .shop h3{
    /* position: absolute;
    top: -25vh;
    right: -11vw; */
    font-size: 1.5rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .shop p{
    /* position: absolute;
    top: -22vh;
    right: -0.1vw; */
    font-size: 1.2rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(1){
    width: 15%;
    position: absolute;
    right: 3vw;
    top: 109vh;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(2){
    width: 30%;
    position: absolute;
    right: 18vw;
    top: 327vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(3){
    width: 65%;
    position: absolute;
    right: 5vw;
    top: 552vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
}
  @media (max-width: 1680px) {
  .shop h2{
  font-size: 7rem;
  transition: transform 0.2s ease-out 0s;
}
.shop{
  width: 100vw;
  height: 100vh;
  margin: 10vh 0 0 0;
  position: relative;
  
  z-index: 10;
}
  .shop h3{
  
  font-size: 1.5rem;
  
  transition: transform 0.2s ease-out 0s;
}
  .shop p{

  font-size: 1.2rem;

  transition: transform 0.2s ease-out 0s;
}
.shop img:nth-of-type(1){
  width: 13%;
  position: absolute;
  right: 3vw;
  top: 107vh;
  transition: transform 0.2s ease-out 0s;
}
.shop img:nth-of-type(2){
  width: 27%;
  position: absolute;
  right: 16vw;
  top: 326vh;
  z-index: 3;
  transition: transform 0.2s ease-out 0s;
}
.shop img:nth-of-type(3){
  width: 60%;
  position: absolute;
  right: 5vw;
  top: 532vh;
  z-index: 3;
  transition: transform 0.2s ease-out 0s;
}
  }
  @media (max-width: 1440px) {
    .shop{
        width: 100vw;
        height: 100vh;
        
        position: relative;
        
        z-index: 10;
      }
       .shopDiv{
        position: relative;
        height: 100vh;
       
      }
      .shopText{
        margin: 0 0 0 10vw;
      }
      .shop a{
        color: black;
        text-decoration:none;
      }
        .shop h2:hover{
        opacity: 0.5;
        cursor: pointer;
        }
      .shop h2{
     
      font-size: 5rem;
      transition: transform 0.2s ease-out 0s;
        
}
      .shop h3{
       
        font-size: 1.5rem;
        
        transition: transform 0.2s ease-out 0s;
      }
      .shop p{
       
        font-size: 1.2rem;
       
        transition: transform 0.2s ease-out 0s;
      }
      .shop img:nth-of-type(1){
        width: 13%;
        position: absolute;
        right: 3vw;
        top: 104vh;
        transition: transform 0.2s ease-out 0s;
      }
      .shop img:nth-of-type(2){
        width: 27%;
        position: absolute;
        right: 16vw;
        top: 320vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
      .shop img:nth-of-type(3){
        width: 60%;
        position: absolute;
        right: 5vw;
        top: 524vh;
        z-index: 3;
        transition: transform 0.2s ease-out 0s;
      }
  }



  @media (max-width: 768px) {
  .shop{
    width: 100vw;
    height: 100vh;
    margin: 0vh 0 0 0;
    position: relative;
    
    z-index: 10;
  }
   .shopDiv{
    position: relative;
    height: 100vh;
   
  }
  
  .shop a{
    color: black;
    text-decoration:none;
  }
    .shop h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
  .shop h2{
 
  font-size: 3.5rem;
  transition: transform 0.2s ease-out 0s;
    
   }
   .shop h3{
    
    font-size: 1.5rem;
   
    transition: transform 0.2s ease-out 0s;
  }
  .shop p{
   
    font-size: 1.2rem;
   
    transition: transform 0.2s ease-out 0s;
    width:350px;
  }
  .shop img:nth-of-type(1){
    width: 20%;
    position: absolute;
    right: 1vw;
    top: 104vh;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(2){
    width: 40%;
    position: absolute;
    right: 21vw;
    top: 315vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(3){
    width: 90%;
    position: absolute;
    right: 0vw;
    top: 500vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
}
  @media (max-width: 375px) {
  .shop{
    width: 100vw;
    height: 100vh;
    
    position: relative;
    
    z-index: 10;
  }
   .shopDiv{
    position: relative;
    height: 100vh;
   
  }
  
  .shop a{
    color: black;
    text-decoration:none;
  }
    .shop h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
  .shop h2{
  
  font-size: 3rem;
    
    transition: transform 0.2s ease-out 0s;
    
   }
   .shop h3{
    
    width:290px;
   
    font-size: 1.5rem;
   
    transition: transform 0.2s ease-out 0s;
  }
  .shop p{
    
    font-size: 1.2rem;
   
    transition: transform 0.2s ease-out 0s;
    width:290px;
  }
  .shop img:nth-of-type(1){
    width: 35%;
    position: absolute;
    left: 1vw;
    top: 75vh;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(2){
    width: 60%;
    position: absolute;
    left: 36vw;
    top: 293vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(3){
    width: 100%;
    position: absolute;
    left: 0vw;
    top: 483vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
}
  @media (max-width: 360px) {
  .shop{
    width: 100vw;
    height: 100vh;
    
    position: relative;
    
    z-index: 10;
  }
   .shopDiv{
    position: relative;
    height: 100vh;
   
  }
  
  .shop a{
    color: black;
    text-decoration:none;
  }
    .shop h2:hover{
    opacity: 0.5;
    cursor: pointer;
    }
  .shop h2{
   
    font-size: 2.5rem;
    
    transition: transform 0.2s ease-out 0s;
    
   }
   .shop h3{
   
    width:290px;
  
    font-size: 1.2rem;
    
    transition: transform 0.2s ease-out 0s;
  }
  .shop p{
   
    font-size: 1rem;
   
    transition: transform 0.2s ease-out 0s;
    width:290px;
  }
  .shop img:nth-of-type(1){
    width: 35%;
    position: absolute;
    left: 1vw;
    top: 75vh;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(2){
    width: 60%;
    position: absolute;
    left: 36vw;
    top: 293vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
  .shop img:nth-of-type(3){
    width: 100%;
    position: absolute;
    left: 0vw;
    top: 483vh;
    z-index: 3;
    transition: transform 0.2s ease-out 0s;
  }
}